.image {
    width: 500px;
    height: 300px;
}
.bannerOnImage {
    width: 300px;
    display: block;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.team-info {
    border-radius: 10px;
    margin: 0 50px 0 50px;
    background-color: #46bec7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

@media (max-width: 768px) {
    .team-info {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .image {
        width: 100%;
    }
} ;
